<section class="come-on">
    <div class="container">
        <div class="gold-title text-center">
            Также!
        </div>
        <div class="title">
            Эту Программу<br class="d-sm-none"> по Коррекции фигуры Рекомендуют:
        </div>
        <div class="row m-0">

            <div class="col-12 col-md-12 col-xl-6 p-2 offset-xl-3 text-center">
                <div class="mb-3 text-justify">
                    <p class="mb-3"><strong>МАКСИМ ЧИРКОВ (бизнесмен, похудел по программе Александра на 23 кг)</strong></p>
                    <p><i>«Я весил 106кг. Не знал что делать и никто не мог мне помочь. Случайно в интернете наткнулся на Программу Александра. Саша помог мне похудеть на 23кг и закрепить свой вес навсегда. Это несмотря на то, что мы в разных странах. Очень благодарен Александру»</i></p>
                </div>
                <div class="result-img">
                    <img src="{{ asset('land/images/maxim1.jpeg') }}" alt="">
                </div>
                <div class="result-img">
                    <img src="{{ asset('land/images/maxim_magazine.png') }}" alt="">
                </div>

                <div>
                    <strong>Видео-благодарность Максима после похудения в программе Александра</strong>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/nakw41X8UEM" frameborder="0" class="embed-responsive-item"></iframe>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center">
                <div class="order mt-5 mb-5">
                    <a class="blue popup" href="#" data-toggle="modal" data-target="#registration-popup">Зарегистрироваться на мастер-класс</a>
                </div>
            </div>

            <div class="col-12 col-md-12 col-xl-6 p-2 offset-xl-3 text-center">
                <div class="mb-3 text-justify">
                    <strong>ОЛЕСЬ ТИМОФЕЕВ (бизнесмен, основатель компании Genius Marketing), тренируется под контролем Александра Бататина уже 2 года.</strong>
                </div>
                <div class="result-img">
                    <img src="{{ asset('land/images/oles_photo.png') }}" alt="">
                </div>

                <p class="mb-3 text-justify"><i>«Саша Бататин действительно Профи своего дела, его подход и методики по коррекции веса действительно работают. Он настолько правильно подбирает нагрузку и питание, что я круглый год держу себя в подтянутой форме. Несмотря на работу, частые перелеты и плотный график»</i></p>

                <div class="result-img">
                    <img src="{{ asset('land/images/maxim2.jpeg') }}" alt="">
                </div>

                <div>
                    <p class="mb-2"><strong>Видео-Благодарность Олеся Тимофеева:</strong></p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dEZiTNfSW08" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-xl-6 p-2 offset-xl-3 text-justify">
                <div class="mb-3">
                    <strong>АНТОН БОВТ (предприниматель) похудел по программе Александра Бататина на 9 кг за 1,5 месяца</strong>
                </div>
                <div class="result-img">
                    <img src="{{ asset('land/images/oles1.jpeg') }}" alt="">
                </div>

                <p class="mb-3"><i>«Я похудел на 9кг под Контролем Саши и сделал себе хорошую функциональную форму. Рекомендую Сашу как специалиста. Его программы и методики по коррекции веса действительно работают. Как для мужчин так и для женщин»</i></p>

                <div class="result-img">
                    <img src="{{ asset('land/images/anton3.png') }}" alt="">
                </div>

                <div class="result-img">
                    <img src="{{ asset('land/images/oles2.jpeg') }}" alt="">
                </div>
            </div>

            <div class="col-12 text-center">
                <div class="order mt-5 mb-5">
                    <a class="blue popup" href="#" data-toggle="modal" data-target="#registration-popup">Зарегистрироваться на мастер-класс</a>
                </div>
            </div>

        </div>
    </div>
</section>
