/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .menu_button {
        display: flex;
        align-items: center;

    }
    .content_body {
        margin-left: 0;
    }
    menu {
        left: -100%;
        overflow-y: scroll;
    }
    menu, .content_body {
        -webkit-transition: all .5s ease .2s;
        -o-transition: all .5s ease .2s;
        transition: all .5s ease .2s;
    }
    menu.show {
        left: 0;
    }
    .content_body.slide {
        -webkit-transform: translateX(230px);
        -ms-transform: translateX(230px);
        transform: translateX(230px);
    }

    .w50, .w70, .w30 {
        width: 100% !important;
    }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .section_with_button h5 {
        width: 100%;
    }
    .request_wrap input {
        width: 100%;
        margin-bottom: 15px;
        margin-right: 0;
    }
    .request_wrap .button {
        width: 100%;
    }
    .team_item_video {
        width: 100%;
    }
    header {

    }

    .button {
        height: auto;
    }

    header,.content_body {

        padding-left: 15px;
        padding-right: 15px;
    }
    .profile_wallet, .profile_name {
        display: none;
    }

    .profile_main {
        padding-right: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .profile_main_photo {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .profile_main_info {
        padding: 20px;
    }
    section, .team_item,.section_with_button, .sectction_img_text {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .team_item {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .section_item {
        padding: 0;
        margin-bottom: 30px;
    }
    h1 {
        font-size: 24px !important;
        text-align: center;
    }

    h4 {
        font-size: 20px;
    }

    .section_item_wrap h2 {
        font-size: 24px !important;
    }

    .team_item_img {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .section_with_button .button {
        width: auto;
        -webkit-box-flex:0;
        -webkit-flex:0 0 auto;
        -ms-flex:0 0 auto;
        flex:0 0 auto;
        margin: 0;
        margin-top: 10px;
    }

    .sectction_img_text--img {
        margin-bottom: 20px;
    }

    .sectction_img_text--text {
        padding: 0;
    }
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
