* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.3;
    color:#222;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

button {
    background-color:transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

button[disabled] {
    opacity: .8;
    cursor: not-allowed;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    color:#222;
    line-height: 1.3;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

body {
    overflow-x: hidden;
}

input {
    border:none;
    outline: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    width: 100%;
    height: 50px;
    padding:0 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(225deg , #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: -o-linear-gradient(225deg , #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(225deg , #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header a {
    color:#fff !important;
}

.menu_button {
    display: none;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

.menu_button span {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
}

.menu_button p {
    margin-top: 3px;
    color:#fff;
}

.menu_button span div {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 50%;
    height: 2px;
    background:#fff;
}

.menu_button span:after,
.menu_button span:before {
    content: '';
    position: absolute;
    left: 10%;
    right: 10%;
    height: 2px;
    background:#fff;
}

.menu_button span:after {
    top: 30%;
}

.menu_button span:before {
    top: 70%;
}

.profile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color:#fff;
}

.profile div,
.profile div i,
.profile a i {
    color:#fff;
}

.profile_name {
    margin-right: 20px;
    font-weight: lighter;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.profile_name_img {
    width: 19px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}

.profile_wallet {
    margin-right: 20px;
    font-weight: lighter;
    font-size: 16px;
}

.header_left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_logo {
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

menu {
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    z-index: 300;
    width: 230px;
    background:#f9f9f9;
    /*height: 100%;*/
    padding: 20px;
    padding-top: 20px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    overflow-y: scroll;
}

menu.mobile {
    left: -100%;
}

.content_body.mobile {
    margin-left: 0;
}

menu a {
    display: block;
    padding:10px 15px;
    line-height: 1.3;
    margin-bottom: 10px;
    font-size: 16px;
    color:#222;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    position: relative;
    padding-left: 48px;

    z-index: 2;
}

menu a:hover,menu a.active {
    color:#fff;
}

menu a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background: #833ab4;
    background: -webkit-linear-gradient(225deg , #fd1d1d, #833ab4);
    background: -o-linear-gradient(225deg , #fd1d1d, #833ab4);
    background: linear-gradient(225deg , #fd1d1d, #833ab4);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    opacity: 0;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

menu a:hover:after,
menu a.active:after {
    opacity: 1;
}

menu a i,
menu a svg {
    position: absolute;
    left: 15px;
    top: 24%;
    width: 24px;
    text-align: center;
    color:#833ab4;
    fill:#833ab4;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

menu a svg {
    height: 24px;
}

menu a.active i,
menu a.active svg,
menu a:hover i,
menu a:hover svg {
    color:#fff;
    fill:#fff;
}

menu hr {
    border-color:rgba(0,0,0,.1);
    border-width: 1px;
    margin-bottom: 10px;
}

.dropdown-click {
    position: relative;
}

.dropdown-click:before {
    content: '';
    position: absolute;
    right: 15px;
    width: 7px;
    height: 7px;
    border-left:2px solid rgba(0,0,0,.3);
    border-bottom:2px solid rgba(0,0,0,.3);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 36%;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transform-origin: 30% 60%;
    -ms-transform-origin: 30% 60%;
    transform-origin: 30% 60%;
}

.dropdown-click:hover:before {
    border-color:#fff;
}

.dropdown-click.active,
.dropdown-click.active i,
.dropdown-click.active svg {
    color:#fff;
}

.dropdown-click.active:after {
    opacity: 1;
}

.dropdown-click.active:before {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    border-color:#fff;
}

.dropdown {
    display: none;
}

.dropdown.show {
    display: block;
}

.content_body {
    margin-left: 230px;
    padding:30px 60px;
    margin-top: 50px;
    position: relative;
    z-index: 400;
    background-color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.loading {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background:#fff;
    z-index: 222;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.loading img {
    width: 100px;
}

.content_body h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}


/* profile */

.profile_main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-right: 20px;
}

.profile_main_info {
    width: 100%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
}

.profile_main_photo {
    width: 200px;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-flex:0;
    -webkit-flex:0 0 200px;
    -ms-flex:0 0 200px;
    flex:0 0 200px;
    margin-right: 40px;
}

.profile_main_name {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile_main_text {
    margin-bottom: 10px;
}

.profile_main_text span {
    color:#833ab4
}

.profile_main_affiliate {
    width: 100%;
}

.profile_main_affiliate--title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.profile_main_affiliate svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.profile_main_affiliate_group {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.profile_main_affiliate_group input,
.input {
    width: 100%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border:1px solid rgba(0,0,0,.3);
    padding:5px 10px;
    font-size: 16px;
    height: 40px;
    padding-right: 40px;
}

.input {
    padding-right: 0;
}

.request_wrap {
    display: flex;
}

.request_wrap form {
    width: 100%;
}

.request_wrap input {
    width: 46%;
    margin-right: 20px;
}

.request_wrap .button {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.profile_main_affiliate_group button {
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    background: #833ab4;
    background: -webkit-linear-gradient(to left , #fd1d1d, #833ab4);
    background: -webkit-gradient(linear , right top, left top , from(#fd1d1d), to(#833ab4));
    background: -webkit-linear-gradient(right , #fd1d1d, #833ab4);
    background: -o-linear-gradient(right , #fd1d1d, #833ab4);
    background: linear-gradient(to left , #fd1d1d, #833ab4);
    color:#fff;
}

.profile_main_affiliate_group button:hover {

}

.profile_main_affiliate_group button i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color:#fff;
}

.profile_main_affiliate_group button.save {
    right: 40px;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.copy_success {
    position: absolute;
    top: 125%;
    background: #833ab4;
    background: -webkit-linear-gradient(to left , #fd1d1d, #833ab4);
    background: -webkit-gradient(linear , right top, left top , from(#fd1d1d), to(#833ab4));
    background: -webkit-linear-gradient(right , #fd1d1d, #833ab4);
    background: -o-linear-gradient(right , #fd1d1d, #833ab4);
    background: linear-gradient(to left , #fd1d1d, #833ab4);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 12px;
    padding:2px 5px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity: 0;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    color:#fff;
}

.profile_main_affiliate_group button.save:hover .copy_success,
.copy_success.show {
    opacity: 1;
    top: 115%;
}

section {
    margin-bottom: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-flow:row wrap;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.section_item {
    width: 100%;
    margin-bottom: 20px;
    padding:0 20px 20px 0;
}

.section_item_wrap {
    position: relative;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.section_item_wrap.task {
    padding-left: 60px;
    position: relative;
}

.section_item_wrap.task>i {
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 30px;
    color:#fd1d1d;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.section_item_wrap .section_img {
    width: 200px;
    height: 200px;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 15px;
}

.section_item_wrap h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.section_item_wrap h3 {
    font-size: 26px;
    margin-bottom: 30px;
}

.section_item_wrap ul {
    padding-left: 20px;
}

.section_item_wrap ul li {
    line-height: 1.3;
    margin-bottom: 20px;
    padding-left: 30px;
    position: relative;
}

.section_item_wrap ul li i {
    color:#fd1d1d;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 2px;
}

.section_item_wrap:hover {
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}

.section_with_button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.section_with_button h5 {
    width: 70%;
    font-weight: normal;
}

.ball_for {
    color:green;
    font-size: 18px;
}

.ball_for:after {
    content: 'бал.';
    margin-left: 5px;
}

.section_with_button--buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.section_lined {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.3);
    padding: 0px 10px;
    height: 40px;
    position: relative;
    padding-right: 80px;

}

.section_lined span {
    color:green;
    margin-top: 5px;
    font-style: italic;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 100%;
}

.bold {
    font-weight: bold !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.section_lined .section_text {
    margin: 0;
}

.section_lined_right {
    position: absolute;
    right: 0;
    top: 0;
    width: 75px;
    height: 40px;
    padding-right: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: bold;
}

.section_lined_right.balls:after {
    content: 'баллов';
    margin-left: 5px;
}

.section_lined_right.human:after {
    content:'чел.';
    margin-left: 5px;
}

.button {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color:#fff;
    height: 35px;
    line-height: 35px;
    padding:0 15px;
    background: #833ab4;
    background: -webkit-linear-gradient(to left ,#fd1d1d, #833ab4, #833ab4);
    background: -webkit-gradient(linear ,right top, left top ,from(#fd1d1d), color-stop(#833ab4), to(#833ab4));
    background: -webkit-linear-gradient(right ,#fd1d1d, #833ab4, #833ab4);
    background: -o-linear-gradient(right ,#fd1d1d, #833ab4, #833ab4);
    background: linear-gradient(to left ,#fd1d1d, #833ab4, #833ab4);
    -webkit-background-size:200% 200%;
    background-size:200%;
    background-position-x: 100%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .9s;
    -o-transition: all .9s;
    transition: all .9s;
}

.button:hover {
    background-position-x: 0%;
}

.button_img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    position: relative;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size:cover;
    background-size:cover;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.button_img:hover {
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
}

.button_img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #833ab4;
    background: -webkit-linear-gradient(to left ,#fd1d1d, #833ab4, #833ab4);
    background: -webkit-gradient(linear ,right top, left top ,from(#fd1d1d), color-stop(#833ab4), to(#833ab4));
    background: -webkit-linear-gradient(right ,#fd1d1d, #833ab4, #833ab4);
    background: -o-linear-gradient(right ,#fd1d1d, #833ab4, #833ab4);
    background: linear-gradient(to left ,#fd1d1d, #833ab4, #833ab4);
    opacity: .5;
}

.button_img p {
    position: relative;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}


.section_with_button .button {
    margin-left: 30px;
}

.button i {
    color:#fff;
    margin-right: 10px;
}

.button svg {
    width: 20px;
    fill:#fff;
    margin-right: 10px;
}

.section_text {
    margin-bottom: 30px;
}

.section_text p {
    line-height: 1.3;
    margin-bottom: 15px;
}

.sectction_img_text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.sectction_img_text--img img {
    width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.sectction_img_text--text {
    padding: 0 20px;
}

.profile_video_wrap,
.section_video {
    width: 100%;
    margin-bottom: 20px;
}

.profile_video_title {
    margin-bottom: 20px;
}

/* video */

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.embed-responsive::before {
    display: block;
    content: "";
}

.embed-responsive-16by9::before {
    padding-top: 56.25%;
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.social_tabl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.social_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 20px;
    color:#833ab4
}

.social h4 {
    margin-bottom: 15px;
}

.social_item i {
    margin-right: 5px;
    color:#833ab4;
}

.social_item p {
    color:#000;
}



.w30 {
    width: 30% !important;
}

.w50 {
    width: 50% !important;
}

.w70 {
    width: 70% !important;
}

/* TEAM */

.team_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.team_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 40px;
}

.team_item_img {
    position: relative;
    width: 150px;
    -webkit-box-flex:0;
    -webkit-flex:0 0 150px;
    -ms-flex:0 0 150px;
    flex:0 0 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-position: top left;
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat: no-repeat;
    margin-right: 40px;
}

.team_item_img:before {
    content: '';
    position: absolute;
    top: -7px;
    right: -7px;
    left: -7px;
    bottom: -7px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #833ab4;
    background: -webkit-linear-gradient(to left , #fd1d1d, #833ab4);
    background: -webkit-gradient(linear , right top, left top , from(#fd1d1d), to(#833ab4));
    background: -webkit-linear-gradient(right , #fd1d1d, #833ab4);
    background: -o-linear-gradient(right , #fd1d1d, #833ab4);
    background: linear-gradient(to left , #fd1d1d, #833ab4);
    z-index: -1;
}

.team_item_descr .title {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.team_item_video {
    margin-top: 20px;
    width: 60%;
}

/** LOGIN **/
.login {
    width: 100%;
    padding:30px 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.login_wrap {
    max-width: 400px;
    width: 100%;
}

.login_wrap h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.auth_form_group {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

.auth_form_group:last-child {
    margin-bottom: 0;
}

.auth_form_group input,
.auth_form_group textarea {
    width: 100%;
    padding:0 15px;
    height: 50px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border:1px solid rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.auth_form_group textarea {
    height: auto;
    padding-top: 15px;
}

.auth_form_group .invalid-feedback {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 14px;
    font-weight: lighter;
    color:red;
}

.auth_form_group .button {
    text-align: center;
    text-transform: uppercase;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

form input[type=file] {
    display: none;
}

form input[type=file] + label {
    cursor: pointer;
    margin-bottom: 30px;
    display: inline-block;
    border:1px solid rgba(0,0,0,0.3);
    padding:5px 30px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}

form input[type=file] + label > p.small {
    position: absolute;
    left: 0;
    bottom: -15px;
    font-size: 12px;
    font-style: italic;
}

.section_line {

}

/** TABLE **/

.dataTables_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow-x: scroll;
}

table.dataTable {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.dataTables_wrapper .dataTables_paginate {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.dt-button {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color:#fff;
    height: 35px;
    line-height: 35px;
    padding:0 15px;
    background: #833ab4;
    background: -webkit-linear-gradient(to left ,#fd1d1d, #833ab4, #833ab4);
    background: -webkit-gradient(linear ,right top, left top ,from(#fd1d1d), color-stop(#833ab4), to(#833ab4));
    background: -webkit-linear-gradient(right ,#fd1d1d, #833ab4, #833ab4);
    background: -o-linear-gradient(right ,#fd1d1d, #833ab4, #833ab4);
    background: linear-gradient(to left ,#fd1d1d, #833ab4, #833ab4);
    -webkit-background-size:200% 200%;
    background-size:200%;
    background-position-x: 100%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .9s;
    -o-transition: all .9s;
    transition: all .9s;
    margin-right: 20px;
}

.dt-button:hover {
    background-position-x: 0%;
}

.dt-button span {
    color:inherit;
}

.dataTables_filter input {
    padding: 0 15px;
    height: 35px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background:#fff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #fff;
    color:#222 !important;
}

.check {
    position: relative;
    padding-left: 65px;
}

.check:after {
    content: '';
    position: absolute;
    top: 23px;
    left: 20px;
    background:url(../img/check.svg) no-repeat center;
    width: 30px;
    height: 30px;
}

.balance {
    color:inherit;
    font-family: inherit;
}

.balance:after {
    content: 'бал';
    margin-left: 5px;
}

.rubl {
    color:inherit;
    font-family: inherit;
}

.rubl:after {
    content: 'руб';
    margin-left: 5px;
}

