.yvedw{}
.yved{
    position: fixed;
    right: 20px;
    top: 80px;
    width: 300px;
    vertical-align: middle;
    height: 80px;
    color: black;
    padding: 6px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 5px;
    display: none;
    border: 1px solid #ccc;
    z-index: 9998;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.yvedi{
    float: left;
    width: 50px!important;
    margin: 10px 20px 0 0;
}
.yvedt{
    width: 210px;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}
.yvedf1{
    /* background-color: #363636; */
    /* background-color: rgba(31, 30, 30, 0.7); */
    background-color: rgba(255,255,255,0.7);
}
.yvedf2{
	background-color: #CD5555;
}
.yvedvt{
    float: left;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    vertical-align: middle;
}