/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.slick-arrow {
		width: 40px;
		height: 40px;
		-webkit-background-size: cover;
		        background-size: cover;
	}

	.slider_otziv {
		padding-left: 50px;
		padding-right: 50px;
	}
	.personal_man {
		right: 0;
		-webkit-transform: unset;
		    -ms-transform: unset;
		        transform: unset;
		left: auto;
	}
	.trenings_img_circle {
		left: auto;
		-webkit-transform: unset;
		    -ms-transform: unset;
		        transform: unset;
		right: 0;
		z-index: -1;
	}
	.trenings {
		overflow: hidden
	}

	.quote {
		width: 70%;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header_logo {
		display: none;
	}
	.main {
		padding-top: 60px;
	}
	.main_item.left {
		width: 75%;
		padding-top: 100px;
	}
	.otzivi_main_item_footer {
		padding: 15px;
	}
	.otzivi_main_item_footer p {
		font-size: 14px;
	}
	.video_act .play_button {
		width: 70px;
		height: 70px;
	}
	.mb60 {
		margin-bottom: 30px !important;
	}

	.tarif_item_body {
		padding: 18px 15px;
		height: 330px;
	}

	.tarifs_item_head .tarif_name {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.tarifs_item_head hr {
		margin-bottom: 10px;
	}

	.tarif_item_body .list, .tarif_item_body .green {
		font-size: 12px;
	}

	.tarifs_item .btn {
		padding-left: 15px;
		padding-right: 15px;
		font-size: 12px;
		height: 37px;
		line-height: 37px;
		width: 170px;
	}
	.tarifs_item.hit .tarifs_item_head:before {
		-webkit-background-size: contain;
		        background-size: contain;
		background-position: left top;
		width: 85px;
	}

	.tarifs_item_after, .tarifs_item_after b {
		font-size: 14px;
	}

	.trenings_text {
		font-size: 18px;
	}

	.block2_list ol li {
		font-size: 18px;
	}

	.trener_text {
		font-size: 22px;
	}

	.trener_text2 {
		font-size: 18px;
	}

	.quote {
		font-size: 18px;
	}

	.footer_link {
		font-size: 14px;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.main_offer {
		font-size: 40px;
	}

	.main_item .text_min,
	.main_text_bold {
		font-size: 18px;
	}

	.main_text_bold span:after {
		-webkit-background-size: contain;
		        background-size: contain;
		height: 35px;
		z-index: -1;
		right: -72px;
	}

	.btn {
		height: 67px;
		line-height: 67px;
	}

	.header_menu ul a {
		font-size: 12px;
	}

	.main {
		min-height: auto;
		padding-bottom: 80px;
	}

	.main_img_baba {
		width: 60%;
		left: 58%;
		bottom: 55px;
	}

	.title {
		font-size: 20px;
	}

	.treners_item_img_w {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 150px;
		    -ms-flex: 0 0 150px;
		        flex: 0 0 150px;
		width: 150px;
		margin-right: 20px;
		padding: 6px;
	}

	.treners_item_descr .title {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.treners_item_descr .text {
		font-size: 14px;
	}

	.w80, .w66 {
		width: 100% !important;
	}

	.otzivi_main_item_footer p {
		font-size: 12px;
	}

	.have_item_wimg {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 135px;
		    -ms-flex: 0 0 135px;
		        flex: 0 0 135px;
	}

	.have_item_secr {
		font-size: 16px;
	}

	.have_item {
		margin-bottom: 20px;
	}

	.slider_otziv {
		padding-left: 0;
		padding-right: 0;
	}

	.slick-initialized .slick-center {
		-webkit-transform: scale(1.4);
		    -ms-transform: scale(1.4);
		        transform: scale(1.4)
	}
	.slider {
		padding: 0;
	}
	.slider_otziv {
		padding-bottom: 0;
	}

	.tarif .container {
		width: 100%;
		max-width: 100%
	}

	.personal_text {
		max-width: 400px;
	}

	.personal_man {
		right: -85px;
	}

    .tarifs.land2 {
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .tarifs.land2 .tarifs_item {
        width: 48%;
    }

    .tarif {
        padding-bottom: 60px;
    }

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.header_logo {
		display: block;
		max-width: 220px;
        margin: auto;
	}

	.header_menu {
		display: none;
	}

	.main_offer {
		font-size: 24px;
		margin-bottom: 15px;
	}

	.main_item .text_min, .main_text_bold {
		font-size: 12px;
	}

	.main_img_baba {
		width: 250px;
		top: 50%;
		bottom: auto;
		-webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		        transform: translateY(-50%);
		left: 50%;
	}

    .main_img_baba.land2 {
        top: auto;
        bottom: 20px;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }

	.main_item.left {
		width: 100%;
		max-width: 213px;
		padding-top: 30px;
	}

	.main_text_bold span:after {
		height: 20px;
		z-index: -1;
		right: -108px;
		top: 0;
	}

	.btn {
		font-size:16px;
		height: 45px;
		line-height: 45px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.main {
		padding-bottom: 40px;
	}

	.time .title {
		font-size: 12px;
	}

	.time_section_item--head {
		width: 36px;
		height: 41px;
	}

	.time_section_item--head span {
		font-size: 17px;
	}

	.time_section_item:after {
		font-size: 9px;
	}

	.time_section_item {
		margin-bottom: 15px;
	}

	.time_img {
		width: 65px;
		left: 50%;
		bottom: 75px;
		-webkit-transform: translateX(-260%);
		    -ms-transform: translateX(-260%);
		        transform: translateX(-260%);
	}

	.treners_item_img_w {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 110px;
		    -ms-flex: 0 0 110px;
		        flex: 0 0 110px;
		width: 110px;
	}

	.otzivi_main_item {
		width: 100%;
	}

	.otzivi_main_item_footer p {
		text-align: center;
	}

	.otzivi_main {
		margin-bottom: 0;
	}

	.section_bottom {
		padding: 15px 0;
	}

	.have_item_wimg {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 110px;
		    -ms-flex: 0 0 110px;
		        flex: 0 0 110px;
		width: 110px;
	}

	.have_item_wimg img {
		width: 100%;
	}

	.slick-initialized .slick-center {
		    -webkit-transform: scale(1.1);
		        -ms-transform: scale(1.1);
		            transform: scale(1.1);
	}

	.slick-list {
	    padding-top: 0px !important;
	    padding-bottom: 40px !important;
	}

	.tarifs {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: 0;
	}

	.tarifs_item {
		width: 100%;
		padding-top: 0;
		margin-bottom: 125px;
		padding-bottom: 20px;
	}

	.tarifs_item_after {
		bottom: -90px;
	}

	.tarif_item_body .list, .tarif_item_body .green {
		font-size: 16px;
	}

	.tarifs_item.hit {
		-webkit-transform: scale(1);
		    -ms-transform: scale(1);
		        transform: scale(1);
	}

	.tarifs_item.hit .tarifs_item_head:before {
		left: -2px;
		top: -2px;
	}

	.personal_man {
		width: 400px;
		right: -135px;
	}

	.personal {
		overflow: hidden

	}

	.personal_text .first {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.personal_text {
		max-width: 100%;
		width: 70%;
	}

	.personal_text .offer {
		font-size: 28px;
		margin-bottom: 35px;
	}

	.personal_text .offer2 {
	    font-size: 20px;
	    width: 75%;
	}

	.whathap_text {
		font-size: 16px;
	}

	.whathaps_item_descr p {
		font-size: 16px;
	}

	.whathaps_item_img {
	    width: 60px;
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 60px;
	        -ms-flex: 0 0 60px;
	            flex: 0 0 60px;
	    margin-right: 15px;
	}

	.whathaps_item_img img {
		width: 100%;
	}

	.likes_item {
		width: 100%;
	}

	.trener .title {
		font-size: 20px;
	}

	.trener .title2,.biger_text {
		font-size: 18px;
	}

	.trener_text, .otzivi_item .title, .otzivi_item .text {
		font-size: 14px;
	}
	.trener_text2 {
		font-size: 16px;
	}

	.quote {
		width: 100%;
		padding-top: 45px;
		font-size: 16px;

        margin-top: -30px;
	}

	.quote:before {
		top: 0;
		left: 0;
		-webkit-background-size: contain;
		        background-size: contain;
		height: 45px;
		width: 30px;

	}

	.quote.last {
		margin-bottom: 0;
	}

	footer .fl_r {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
	}

	.time {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.tarif {
		padding-bottom: 0;
	}

	.block2_list ol li, .trenings_text {
		font-size: 14px;
	}

	.quote {
		font-size: 14px;
		font-style: italic;
	}

	.biger_text {
		margin-bottom: 20px;
	}

	.footer_link {
		text-align: center;
		font-size: 12px;
	}

	.slick-list {
		z-index: 1;
	}

	.slick-arrow {
		top: 0;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		z-index: 3;
	}

	.slick-next {
		-webkit-transform: translateY(0) rotate(180deg);
		-moz-transform: translateY(0) rotate(180deg);
		-ms-transform: translateY(0) rotate(180deg);
		-o-transform: translateY(0) rotate(180deg);
		transform: translateY(0) rotate(180deg);
	}

	.tarif_item_body .green {
		max-width: 100%;
	}

    .land2_title {
        font-size: 15px;
    }

    .tarifs.land2 .tarifs_item {
        width: 100%;
        margin-bottom: 80px;
    }

    .what.land2 {
        padding-top: 40px;
    }
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
