@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: normal;
}

header, section, footer {
    position: relative; 
    width: 100%;    
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    padding-top: 30px;  
}

.main {
    background: url(../img/main.jpg) no-repeat center center;
    -webkit-background-size: cover;
            background-size: cover;
    padding-top: 107px;
    min-height: 880px;
    overflow: hidden
}

.fl_r {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.sp-b {
    -webkit-box-pack: justify !important;
    -webkit-justify-content: space-between !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
}

.header_menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.header_menu ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header_menu ul li {
    margin-left: 15px;  
}

.header_menu ul a {
    color: #000;
    font-size: 16px;    
    font-weight: 500;   
}

.header_menu ul a:hover {
    color: #909aff;
}

.header_logo {
    max-width:  360px;
}

.main_img_baba {
    position: absolute;
    left: 51%;
    bottom: 70px;
    width: auto;
    z-index: 0;
}

.main_item.left {
    position: relative;
    z-index: 2;
    max-width: 652px;
    width: 100%;
    padding-top: 150px;
}

.main_offer {
    color: #ff47df;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: uppercase
}

body {
    position: relative;
}

.main_item .text_min {
    font-size: 24px;
    font-weight: 500;
}

.main_text_bold {
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}

.main_text_bold span {
    position: relative;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
}

.main_text_bold span:after {
    content: '';
    position: absolute;
    background: url(../img/titleb.png) no-repeat center center;
    width: 331px;
    height: 55px;
    z-index: -1;
        right: -15px;
    top: -7px;
}

.btn {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    height: 94px;
    line-height: 94px;
     -webkit-box-shadow: 0px 6px 9.1px 0.9px rgba(125, 15, 93, 0.42);
             box-shadow: 0px 6px 9.1px 0.9px rgba(125, 15, 93, 0.42);
     background-color: rgb(255, 71, 223);
     -webkit-border-radius: 50px;
             border-radius: 50px;
     text-transform: uppercase
}

.time {
    padding-top: 45px;
    padding-bottom: 35px;
    background-color: #909aff;

}

.title {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    position: relative;
}

.time .title {
    max-width: 1065px;
    width: 100%;
}

.time_img {
    width: auto;
    position: absolute;
    left: 50%;
        bottom: -55px;
    -webkit-transform: translateX(-178%);
        -ms-transform: translateX(-178%);
            transform: translateX(-178%);
}

.time_section {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.time_section_item {
    margin: 0 15px;
    position: relative;
    padding-bottom: 30px;
}

.time_section_item--head {
    position: relative;
    width: 100px;
    height: 116px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 9.1px 0.9px rgba(136, 88, 5, 0.42);
          box-shadow: 0px 0px 9.1px 0.9px rgba(136, 88, 5, 0.42);
}

.time_section_item--head span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 50px;
}

.time_section_item:after {
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#time_hour:after {
    content: 'Часов';
}

#time_minute:after {
    content: 'Минут';
}

#time_second:after {
    content: 'Секунд';
}

.wave {
    position: relative;
    padding-bottom: 20px;
}

.wave:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 54px;
    height: 15px;
    background: url(../img/wave.png) no-repeat center center;
}

.what {
    padding-top: 70px;
}

.treners_item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.treners_item_img_w {
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 2px dashed #83b546;
    padding: 15px;
    margin-right: 50px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 236px;
        -ms-flex: 0 0 236px;
            flex: 0 0 236px;
    width: 236px;
}

.treners_item_descr .title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: left;
}

.section_bottom {
    padding: 40px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.otzivi_main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 40px;
}

.otzivi_main_item {
    width: 46%;
    -webkit-border-radius: 7px;
            border-radius: 7px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 6.72px 0.28px rgba(0, 0, 0, 0.46);
            box-shadow: 0px 0px 6.72px 0.28px rgba(0, 0, 0, 0.46);
    margin-bottom: 30px;
    overflow: hidden;
}

.otzivi_main_item img {
    width: 100%;
}

.otzivi {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.otzivi_circle1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(25%,-50%);
        -ms-transform: translate(25%,-50%);
            transform: translate(25%,-50%);
    width: 662px;
    height: 662px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 50px solid #909aff;
    z-index: -1;
}

.otzivi_circle2 {
    position: absolute;
    bottom: 8%;
    left: 50%;
    -webkit-transform: translateX(-300%);
        -ms-transform: translateX(-300%);
            transform: translateX(-300%);
    width: 218px;
    height: 218px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 50px solid #909aff;
    z-index: -1;
}

.otzivi_main_item_footer {

    padding: 15px 40px;
}

.otzivi_main_item_footer p {
        font-weight: 500;
    font-style: italic;
    font-size: 18px;
    line-height: 1.611;
}

.video_border {
    border: 8px solid #909aff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
}

.video_act {
    display: block;
    position: relative;
}

.video_act .play_button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 97px;
    height: 97px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    background: #fff url(../img/play.png) no-repeat 56% center;
}

.have_wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}

.have_item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
}

.have_item_wimg {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 193px;
        -ms-flex: 0 0 193px;
            flex: 0 0 193px;
    margin-right: 30px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.have_item_img {
    width: auto;
}

.have_item_secr {
    font-size: 24px;
}

.have_circle_1 {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translateX(225%);
        -ms-transform: translateX(225%);
            transform: translateX(225%);
    width: 218px;
    height: 218px;
    border: 50px solid #909aff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    z-index: -1;
}

.have {
    position: relative;
    padding-bottom: 30px;
    overflow: hidden
}

.slick-list {
    padding-top: 60px !important;
    padding-bottom: 160px !important;
}

.slider_otziv_item {
    padding-top: 100px;
    position: relative;
}

.slider_otziv_item_in {
    border-width: 4px;
    border-color: rgb(144, 154, 255);
    border-style: solid;
    -webkit-border-radius: 7px;
            border-radius: 7px;
    background-color: rgb(255, 255, 255);
    position: relative;
        padding: 40px 18px;
    padding-top: 55px;
}

.slider_otziv_item_in .descr {
    text-align: center;
    font-size: 9px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.3;
}

.slider_otziv_item_in .title {
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 12px;
}

.otziv_item_img {
    position: absolute;
    width: 95px;
    top: -55px;
    left: 25px;
}

.slick-cloned {
    
}

.slider {
    padding-top: 40px;
    padding-bottom: 40px;
}

.slick-initialized .slick-slide {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 291px;
}

.slick-initialized .slick-active {
    visibility: visible;
    opacity: 1;
    z-index: 2;
    
}

.slick-initialized .slick-center {
    z-index: 3;
    
    -webkit-transform: scale(1.9);
    
        -ms-transform: scale(1.9);
    
            transform: scale(1.9);
}

.slider_otziv {
    position: relative;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 70px;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 0;
    width: 70px;
    height: 70px;
    background: url(../img/arrow.png) no-repeat center center;
    cursor: pointer;
}

.slick-prev {
    left: 5px;
}

.slick-next {
    right: 5px;
    -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
}

.slick-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.slick-dots li {

}

.slick-dots li button {
    font-size: 0;
    background-color: transparent;
    width: 22px;
    height: 22px;
    border: 2px solid #909aff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
}

.slick-dots li button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: #909aff;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}

.slick-dots li.slick-active button:after {
    opacity: 1;
}

.tarif {
    padding-top: 40px;
    padding-bottom: 130px;

}

.tarifs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 70px;
}

.tarifs.land2 {
    align-items: flex-start;
}

.tarifs_item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-border-radius: 7px;
            border-radius: 7px;
    width: 30%;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-align-items: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    border: 2px solid #909aff;
    position: relative;
    margin-bottom: 95px;
}

.tarifs.land2 .tarifs_item {
    width: 23%;
}

.tarifs_item_head {
    background: #909aff;
    -webkit-border-bottom-right-radius: 7px;
            border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
            border-bottom-left-radius: 7px;
    padding-top: 20px;
    padding-bottom: 25px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.tarifs_item_head .tarif_name {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    margin-bottom: 5px;
}

.tarifs_item_head hr {
    width: 125px;
    height: 1px;
    background-color: #fff;
    border: none;
    margin-bottom: 20px;
}

.tarifs_item_head .tarif_price {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    padding-top: 22px;
}

.tarifs.land2 .tarifs_item_head .tarif_price {
    text-align: center;
}

.tarifs_item_head .tarif_price .before {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;
}

.tarifs_item_head .tarif_price .before:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    width: 100%;
    background-color:#fff;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tarifs_item_head .tarif_price span {
    font-size: 30px;
    font-weight: bold;
}

.tarif_item_body {
    padding: 38px 35px;
    height: 393px;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
}



.tarifs.land2 .tarif_item_body {
    padding: 20px 20px;
    padding-bottom: 35px;
    height: auto;
}

.tarif_item_body .list {
    font-size: 16px;
    padding-left: 25px;
    position: relative;
    margin-bottom: 15px;
}

.tarifs.land2 .tarif_item_body .list {
    font-size: 12px;
}

.tarif_item_body .green {
    font-size: 12px;
    color: #83b546;
    font-weight: bold;
    max-width: 235px;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

.tarif_item_body .list:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: url(../img/ok.png) no-repeat center center;
    width: 16px;
    height: 16px;
}

.tarif_item_body .wrong:before {
    left: 0;
    width: 19px;
    height: 19px;
    background: url(../img/wrong.png) no-repeat center center;
}

.tarifs_item .btn {
    height: 67px;
    line-height: 67px;
    text-align: center;
    width: 230px;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    font-size: 16px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.tarifs.land2 .tarifs_item .btn {
    height: 50px;
    line-height: 50px;
    width: 200px;
}

.tarifs_item_after {
    position: absolute;
    bottom: -110px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

.tarifs_item.hit {
    background-color: #f4f3f3;
    -webkit-transform: scale(1.12);
        -ms-transform: scale(1.12);
            transform: scale(1.12);
    -webkit-box-shadow: 0px 7px 15.3px 2.7px rgba(9, 4, 105, 0.41);
            box-shadow: 0px 7px 15.3px 2.7px rgba(9, 4, 105, 0.41);
}

.tarifs_item.hit .tarifs_item_head {
    position: relative;
}

.tarifs_item.hit .tarifs_item_head:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 148px;
    height: 96px;
    background: url(../img/hit.png) no-repeat center center;
}

.tarifs_item.hit.hit_min  .tarifs_item_head:before {
    width: 100px;
    height: 65px;
    -webkit-background-size: contain;
    background-size: contain;
}

.tarifs_item.hit .tarif_item_body {
    background-color: #f4f3f3;
}

.tarif_circle {
    position: absolute;
    z-index: -1;
    width: 557px;
    height: 557px;
    border: 50px solid #909aff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    bottom: -120px;
    left: 50%;
    -webkit-transform: translateX(-185%);
        -ms-transform: translateX(-185%);
            transform: translateX(-185%);
}

.personal {
    height: 568px;
    background: url(../img/best.jpg) no-repeat center center;
    position: relative;

}

.personal_man {
    width: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(30%);
        -ms-transform: translateX(30%);
            transform: translateX(30%);
    z-index: 3;
}

.personal_dots {
    width: auto;
    position: absolute;
    bottom: 200px;
    right: 0;
    z-index: 2;
}

.personal_text {
    padding-top: 130px;
    max-width: 675px;
    width: 100%;
    position: relative;
    z-index: 4;
}

.personal_text .first {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 58px;
}

.personal_text .offer {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    color: #909aff;
    margin-bottom: 55px;
}

.personal_text .offer2 {
    font-size: 30px;
}

.whathap_text {
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}

.whathaps {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}

.whathaps_item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 25px;
}

.whathaps_item_img {
    width: 145px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 145px;
        -ms-flex: 0 0 145px;
            flex: 0 0 145px;
}

.whathaps_item_img img {
    width: auto;
    margin: auto;
    display: block;
}

.whathaps_item_descr p {
    font-size: 25px;
}

.whathap {
    padding-bottom: 25px;
    position: relative;
}

.whathap_circle {
    position: absolute;
    top: 190px;
    left: 50%;
    width: 267px;
    height: 267px;
    border: 50px solid #909aff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    z-index: -1;
    -webkit-transform: translateX(170%);
        -ms-transform: translateX(170%);
            transform: translateX(170%);
}

.trenings .title {
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: bold;
}

.trenings_img {
    margin-bottom: 60px;
    position: relative;
}

.trenings_circle1 {
    position: absolute;
    width: 218px;
    height: 218px;
    border: 50px solid #909aff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    z-index: -1;
    top: 100px;
    left: -106px;
}

.trenings_circle2 {
    position: absolute;
    width: 278px;
    height: 278px;
    border: 50px solid #909aff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    z-index: -1;
    bottom: -125px;
    right: -195px;
}


.trenings_text {
    font-size: 25px;
    margin-bottom: 40px;
    text-align: center;
}

#video_show {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(0,0,0,0.75);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
}

.video_show_wrapper {
    max-width: 650px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.video_show_clode {
    background:transparent;
    border:none;
    outline: none;
    font-size: 26px;
    color:#fff;
    position: absolute;
    right: 0;
    cursor: pointer;
    top: -30px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.trenings_img_circle {
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(200%);
        -ms-transform: translateX(200%);
            transform: translateX(200%);
    border: 50px solid #909aff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    z-index: -1;
    width: 218px;
    height: 218px;
}

.likes .title {
    max-width: 835px;
    width: 100%;
    margin: auto;
}

.likes_wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.likes_item {
    width: 48%;
    margin-bottom: 20px;
}

.likes .btn {
    max-width: 571px;
    width: 100%;
}

.likes {
    padding-bottom: 25px;
}

.block2_list {
    position: relative;
    }

.block2_list ol {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
}

.block2_list ol li {
    width: 80%;
    margin-bottom: 30px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

ol li::before {
    font-weight: bold;
    font-size: 55px;
    z-index: -1;
    margin-right: 30px;
    flex: 0 0 70px;
    text-align: right;
}

.block2_list ol li::after {
    content: '';
    width: 74px;
    height: 74px;
    position: absolute;
    background-color: #feff42;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-transform: translate(-48%,-50%);
    -ms-transform: translate(-48%,-50%);
    transform: translate(-48%,-50%);
    z-index: -2;
    top: 50%;
    left: 0;
}

.block2_list ol li {
    font-size: 24px;
}

.block2_img2 {
    width: auto;
    position: absolute;
    top: 50%;
    left: 90%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: -1;
}

.about {
    position: relative;
    overflow: hidden
}

.block2_img3 {
    position: absolute;
    width: auto;
    bottom: -105px;
    left: 50%;
    -webkit-transform: translateX(-250%);
        -ms-transform: translateX(-250%);
            transform: translateX(-250%);
}

.trener {
    padding-top: 40px;
    padding-bottom: 40px;

}

.trener .title {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.trener .title2 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.trener_text {
    text-align: center;
    font-size: 25px;
}

.trener_text b,
.trener_text2 b {
    display: block;
    font-size: inherit;
}

.trener_text2 {
    max-width: 860px;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 25px;
}

.trener_circle1 {
    position: absolute;
        bottom: 260px;
    left: 50%;
    -webkit-transform: translateX(-170%);
        -ms-transform: translateX(-170%);
            transform: translateX(-170%);
    border: 50px solid #909aff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    z-index: -1;
    width: 632px;
    height: 632px;
}

.otzivi_item {
    position: relative;
}

.otzivi_item .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.otzivi_item .text {
    margin-bottom: 0;
    font-size: 25px;
    text-align: center;
}

.otzivi_item_circle1 {
    position: absolute;
    width: 377px;
    height: 377px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 50px solid #909aff;
    border-radius: 50%;
    z-index: -1;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
}

.otzivi_item_circle2 {
    border: 50px solid #909aff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    z-index: -1;
    width: 377px;
    height: 377px;
    position: absolute;
    top: -100px;
    left: 50%;
    -webkit-transform: translateX(-220%);
        -ms-transform: translateX(-220%);
            transform: translateX(-220%)
}

.otzivi_item_circle3 {
    width: 635px;
    height: 635px;
    border: 50px solid #909aff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    z-index: -1;
    position: absolute;
    bottom: -30px;
    left: 50%;
    -webkit-transform: translateX(65%);
        -ms-transform: translateX(65%);
            transform: translateX(65%);
}

.biger .title {
    max-width: 840px;
    width: 100%;
    margin: auto;
}

.biger_imgs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 45px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.biger_imgs_item {
    width: 48%;
    -webkit-box-shadow: 0px 0px 9px 9px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 9px 9px rgba(0, 0, 0, 0.15);
}

.biger_text {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 40px;
}

.biger_text b {
    font-size: inherit;
}

.quote {
    max-width: 920px;
    width: 100%;
    margin: auto;position: relative;
    line-height: 1.36;
    font-size: 25px;
    text-align: center;
    margin-bottom: 70px;
}

.quote:before {
    content: '';
    position: absolute;
    width: 108px;
    height: 85px;
    background: url(../img/quote.png) no-repeat center center;
    left: -120px;
    top: 0;
}

footer {
    height: 60px;
    background-color: #e8e8e8;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer_link {
    color: #656565;
    font-size: 16px;
    
}

.block2, .whathap {
    overflow: hidden
}

#register .main {
    padding-top: 30px;
    padding-bottom: 40px;
    height: auto;
    min-height: auto;
}

#register .main_item.left {
    padding-top: 20px;
}

.tarif_body_head {
    font-size: 14px;
}















