/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .main {
        padding-top: 30px;
    }
    .main_item h2 {
        font-size: 36px;
    }

    .main_item .text_min {
        font-size: 18px;
    }

    .main_item .text_min b {
        font-size: 18px;
    }

    .btn {
        height: 60px;
        line-height: 60px;
        font-size: 18px;
    }

    .otzivi_main_item_footer p {
        font-size: 16px;
    }

    .otzivi_main_item_footer {
        padding: 15px;
    }

    .steps {
        overflow: hidden
    }

    .form_wrap_form {
        padding-right: 40px;
    }

    .my_flex_dir{
        justify-content: center !important;
    }

    .my_main_item{
        max-width: 470px;
        width: 100%;
    }

    .my_main_item.left{
        order: 3;
    }
    .my_main_item.right{
        order: 2;
        margin-bottom: 30px;
    }

    #top.mytop{
        background-size:290%;
    }

    .main.land2 .main_head_h1.my_main_head_h1{
        margin-bottom: 7px;
    }

    .main.land2.my_land2{
        padding-bottom: 20px;
        padding-top: 15px;
    }

    .my_main_head_time{
        margin-bottom: 10px;
    }
    
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    body {
        background-size: contain;
    }
    .main .fl_r {
        -ms-align-items: flex-end;
        align-items: flex-end;
    }

    .header_menu ul li a {
        font-size: 12px;
    }

    .main_item .btn {
        margin-bottom: 20px;
    }

    .main_item.left {
        width: 60%;
    }

    .main_item.right {
        width: 40%;
    }

    .main_item h2 {
        font-size: 32px;
    }

    .main_item .text_min,
    .main_item .text_min b {
        font-size: 14px;
    }

    .mb40 {
        margin-bottom: 20px !important;
    }

    .time_img {
        top: -20px;
        left: -100px;
    }

    .video_act .play_button {
        width: 90px;
        height: 90px;
        background-position-x: 20px;
    }

    .treners_item {
        width: 100%;
    }

    .treners_item_descr .text,
    .have_item_secr,
    .block2_list ol li,
    .about_text .title {
        font-size: 16px;
    }

    .otzivi_main {
        -ms-align-items: stretch;
        align-items: stretch;
    }

    .block2_img {
        left: -190px;
    }

    .have_item_img {
        width: 193px;
    }
    .about_text .text {
        font-size: 18px;
    }

    .form_wrap_img {
        margin-left: 0;
        width: 40%;
    }

    .form_wrap_form .small_text {
        font-size: 12px;
    }
    .main_item.my_main_item{
        max-width: 470px;
        width: 100%;
    }

    #top.mytop{
        background-size: 350%;
    }

    .time_img.my_time_img {
        width: 140px;
        top: -20px;
        left: -20px;
    }

    .main.land2 .main_head_h1.my_main_head_h1{
        margin-bottom: 7px;
    }

}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .main_head_time, .main_head_h1 {
        position: static;
        top: 0;
    }
    .main_head_h1 {
        font-size: 26px;
        padding:0 25px;
        margin-bottom: 25px;
    }
    .main {
        position: relative;
        overflow: hidden;
    }
    .main_item.right {
        position: absolute;
        bottom: 0;
        width: 300px;
        z-index: -1;
        left: 50%;
        transform: translateX(25%)
    }
    .main_item.left {
        width: 60%;
    }
    body {
        background-size: initial;
    }

    h2.title {
        font-size: 22px;
    }

    .what {
        background-color: #fff;
    }

    .video_act .play_button {
        background-size: 45px;
        background-position: 60% 50%;
    }

    .treners_item_img_w {
        flex: 0 0 100px;
        width: 100px;
        height: 100px;
        margin-right: 35px;
    }

    .treners_item_descr .title,
    .reviews_item p.text,
    .reviews_item p.title {
        font-size: 18px;
    }

    .reviews_item p.title.webinar {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .treners_item_descr .text {
        font-size: 14px;
    }

    .otzivi_main_item {
        width: 100%;
    }

    .have_item_img {
        flex: 0 0 80px;
        width: 80px;
    }

    .step_title {
        font-size: 16px;
        margin-bottom: 30px;
    }

    ol li::before {
        font-size: 28px;
        margin-right: 15px;
        flex:0 0 35px;
    }

    .block2_list ol li::after {
        width: 40px;
        height: 40px;
    }

    .block2_list ol li {
        font-size: 12px;
    }
    
    .about_text .text,
    .about_text .title {
        font-size: 14px;
    }

    .form_wrap_form {
        width: 100%;
        padding: 20px 30px;
    }

    .form_wrap_img {
        display: none;
    }

    .treners_item2 .text {
        font-size: 18px;
    }

    .reviews h2.title {
        font-size: 16px;
    }

    .main_block_form.form_wrap_form {
        width: 48%;
        padding: 0;
    }

    .main_block-bottom {
        align-items: flex-start;
    }

    .tarif.websale .tarifs .tarifs_item {
        width: 45%;
    }

    .tarif.websale .tarifs .tarifs_item .tarif_price {
        font-size: 14px;
    }

    .my_main_item.right{
        position: initial;  
            transform: translateX(0);
    }

    #top.mytop{
        background-size: 400%;
    }

    .time_img.my_time_img {
        width: 100px;
        top: 6px;
        left: 20px;
    }

    .main.land2 .main_head_h1.my_main_head_h1{
        margin-bottom: 7px;
    }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .main_item_title {
        display: none;
    }

    .title_with_text {
        display: block;
        max-width: 170px;
        margin-bottom: 10px !important;
        background:url(../img/title-blank.png) no-repeat;
        background-size:cover;

        height: 20px;
        position: relative;
    }

    .title_with_text p {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        color:#fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 10px;
        text-align: center;
        width: 100%;
    }

    .link_border {
        margin-bottom: 20px;
    }
    .treners_item2 .text {
        font-size: 16px;
    }
    .main_head_time {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .main_head_h1 {
        padding: 0;
        font-size: 16px;
    }

    .otzivi h2.title {
        font-size: 16px;
    }
    .header_menu {
        display: none;
    }

    .main_item.left {
        width: 100%;
    }

    .main_item h2 {
        font-size: 26px;
        text-align: center;
    }

    .main_item .text_min, .main_item .text_min b {
        font-size: 14px;
        text-align: center;
    }

    .w66, .w80 {
        width: 100% !important;
    }

    .video_act .play_button {
        width: 50px;
        height: 50px;
            background-size: 28px;
    }

    .form_wrap_form {
        padding: 20px;
    }

    .form_wrap_form legend {
        font-size: 18px;
    }

    .form_btn {
        font-size: 14px;
        height: 60px;
    line-height: 60px;
    }

    .form_input {
            padding: 15px 10px 15px 25px;
    }

    footer .fl_r {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    .footer_link {
        margin-bottom: 10px;
    }

    footer {
        margin-bottom: 40px;
    }

    /**** new ****/

    header {
        padding-top: 12px;
    }

    .container {
        width: 320px;
    }

    .main_item.left {
        width: 200px;
        text-align: left;
    }

    .main_item.right {
        width: 155px;
        transform: translateX(0);
    }

    .main_item h2 {
        text-align: left;
        font-size: 16px;
        margin-bottom: 15px;
    }

    .main_item .text_min, .main_item .text_min b {
        font-size: 9px;
        text-align: left;
        line-height: 10px;
        max-width: 175px;
    }



    .main_item .text_min {
        margin-bottom: 15px !important;
        font-size: 11px;
    }

    .main_item .btn {
        font-size: 9px;
        padding-left: 10px;
        padding-right: 10px;
        height: 30px;
        line-height: 30px;
    }

    .header_logo {
        max-width: 208px;
        margin: auto;
    }

    .time {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .time .title {
        font-size: 14px;
        max-width: 290px;
        font-weight: normal;
        margin: auto;
        margin-bottom: 15px !important;
    }

    .time_section_item--head {
        width: 36px;
        height: 41.5px;
        
    }

    .time_section_item--head span {
         font-size: 17.3px;
    }

    .time_section_item:after {
        font-size: 9px;
    }

    .time_img {
        width: 55px;
        height: 42px;
        top: -5px;
        left: -15px;
    }

    .time_section_item {
        margin: 0 9px;
        margin-bottom: 12px;
    }

    .otzivi_main_item_footer p {
        font-size: 14px;
        text-align: center;
    }

    .main.land2 .main_head_h1 {
        margin-bottom: 40px;
    }

    .main.land2 .main_item .text_min {
        max-width: 168px;
    }

    .main_block_form.form_wrap_form,
    .main_video_land3 {
        width: 100%;
    }

    .main_block_form.form_wrap_form {
        margin-bottom: 20px;
    }

    .main_block-bottom h2 {
        font-size: 14px;
        text-align: center;
    }

    .main_block-bottom .main_video_land3 p {
        text-align: center;
        font-size: 16px;
    }

    .tarif.websale .tarifs .tarifs_item {
        width: 100%;
    }

    .tarif.websale .tarifs .tarifs_item .btn {
        font-size: 16px;
    }

    .my_main_item.main_item.left{
        max-width: 290px;
        width: 100%;
    }

    .my_bold_text{
        font-size: 12px;
        margin-bottom: 10px;
    }

    .main.land2 .main_head_h1.my_main_head_h1{
        margin-bottom: 15px;
        
    }

    .time_img.my_time_img {
        width: 40px;
        top: 0px;
        left: 10px;
    }

    .main.land2 .main_head_h1.my_main_head_h1{
        margin-bottom: 7px;
    }

    .time .title.mb30 br{
        display: none;
    }

    .time .title.mb30{
        font-size: 13px;
    }

    .my_main_head_time{
        margin-bottom: 10px;
        font-size: 14px;
    }

    
}

@media only screen and (max-width : 415px) {
    #top.mytop{
        background-size: 435%;
    }
}

@media only screen and (max-width : 376px) {
    .myform .form_input{
        margin-bottom: 10px;
    } 

    .time_img.my_time_img {
        width: 40px;
        top: 0px;
        left: 10px;
    }

    #top.mytop{
        background-size: 460%;
    }
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
