@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype'),
    url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat-Medium.ttf') format('truetype'),
    url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: normal;
}

body {
    background: url('../img/body.jpg') no-repeat top center;
}

.fl_r {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.fw-w {
    flex-wrap: wrap !important;
}

.sp-b {
    -webkit-box-pack: justify !important;
    -webkit-justify-content: space-between !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.header_menu ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header_menu ul li a {
    font-size: 16px;
    font-weight: 500;
    color: #111;
}

.header_menu ul li {
    margin-left: 15px;
}

.header_menu ul li a:hover {
    color: #34c9b2;
}

header {
    padding-top: 30px;
}

.main_item {
    width: 49%;
}

.main_head {
    width: 100%;
}

.main_head_h1 {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 40px;
    padding:0 40px;
}

.main_head_time {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    position: relative;
    top: 30px;
}

.main_item h2 {
    font-weight: bold;
    font-size: 42px;
}

.main_item .text_min {
    font-weight: 500;
    font-size: 22px;
}

.main_item .text_min b {
    font-style: italic;
    font-size: 22px;
}

.btn {
    background-color: rgb(91, 249, 225);
    height: 95px;
    line-height: 95px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 24px;
}

.time {
    background-color: #feff42;
    padding-top: 45px;
    padding-bottom: 45px;
}

h2.title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.time .title {
    font-weight: normal;
}

.time .title strong {
    font-size:inherit;
}

.time_block {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.time_img {
    position: absolute;
    left: 30px;
    top: -50px;
    width: 234px;
}

.time_section {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.time_section_item {
    margin: 0 15px;
    position: relative;
    padding-bottom: 30px;
}

.time_section_item--head {
    position: relative;
    width: 100px;
    height: 116px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 9.1px 0.9px rgba(136, 88, 5, 0.42);
    box-shadow: 0px 0px 9.1px 0.9px rgba(136, 88, 5, 0.42);
}

.time_section_item--head span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 50px;
}

.time_section_item:after {
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}


#time_hour:after {
    content: 'Часов';
}

#time_minute:after {
    content: 'Минут';
}

#time_second:after {
    content: 'Секунд';
}

.what {
    padding-top: 55px;
}

.wave {
    position: relative;
}

.wave:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url(../img/h_line.jpg);
    width: 54px;
    height: 18px;
}

.video_border {
    border: 8px solid #feff42;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.video_act {
    display: block;
    position: relative;
}

.video_act .play_button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 159px;
    height: 159px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: #fff url(../img/play.png) no-repeat 52px center;
}

.what {
    position: relative;
    overflow: hidden;
}

.what:after {
    content: '';
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-180%);
    -ms-transform: translateX(-180%);
    transform: translateX(-180%);
    width: 589px;
    height: 589px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 50px solid #feff42;
    z-index: -1;
}

.treners {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.treners_item {
    width: 80%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.treners_item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.treners_item_img_w {
    position: relative;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 210px;
    -ms-flex: 0 0 210px;
    flex: 0 0 210px;
    width: 210px;
    height: 210px;
    margin: 10px;
    margin-right: 50px;
}

.treners_item2 .treners_item_img_w {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}

.treners_item_img_w:after {
    content: '';
    position: absolute;
    border:2px dashed #feff42;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.treners_item_img_w img {
    width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.treners_item_descr {
    width: 100%;
}

.treners_item_descr .title,
.treners_item2 .title {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.treners_item2 .title {
    margin-bottom: 30px;
}


.treners_item_descr .text,
.treners_item2 .text {
    font-size: 22px;
}

.section_bottom {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 60px;
    position: relative;
}

.otzivi_header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;
    margin-bottom: 40px;
}

.otzivi_main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.otzivi_main_item {
    width: 46%;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 6.72px 0.28px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 0px 6.72px 0.28px rgba(0, 0, 0, 0.46);
    margin-bottom: 30px;
    overflow: hidden;
}

.otzivi_main_item img {
    width: 100%;
}

.otzivi {
    position: relative;
    overflow: hidden;
}

.otzivi:after {
    content: '';
    position: absolute;
    top: 260px;
    left: 50%;
    -webkit-transform: translateX(-300%);
    -ms-transform: translateX(-300%);
    transform: translateX(-300%);
    width: 218px;
    height: 218px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 50px solid #feff42;
    z-index: -1;
}

.otzivi:before {
    content: '';
    position: absolute;
    bottom: 90px;
    left: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    width: 660px;
    height: 660px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 50px solid #feff42;
    z-index: -1;
}

.otzivi_main_item_footer {

    padding: 15px 40px;
}

.otzivi_main_item_footer p {
    font-weight: 500;
    font-style: italic;
    font-size: 18px;
    line-height: 1.611;
}

.have {
    position: relative;
    overflow: hidden;
}

.have_wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.have_item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}

.have_item_img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 193px;
    -ms-flex: 0 0 193px;
    flex: 0 0 193px;
    margin-right: 30px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

.have_item_secr {
    font-size: 24px;
}

.step_title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
}

.steps {
    position: relative;
}

.steps1 {
    position: absolute;
    top: -75px;
    left: 50%;
    -webkit-transform: translateX(105%);
    -ms-transform: translateX(105%);
    transform: translateX(105%);
    width: auto;
    z-index: -1;
}

.step_img {
    border: 8px solid #5bf9e1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    margin-bottom: 50px;
}

.circle1 {
    position: absolute;
    width: 446px;
    height: 446px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 50px solid #feff42;
    z-index: -1;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-105%,-50% );
    -ms-transform: translate(-105%,-50% );
    transform: translate(-105%,-50% )
}

.circle2 {
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 50px solid #feff42;
    z-index: -1;
    width: 446px;
    height: 446px;
    -webkit-transform: translate(50%,-50% );
    -ms-transform: translate(50%,-50% );
    transform: translate(50%,-50% );
    top: 50%;
    left: 50%;
}

.cirlce3 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 218px;
    height: 218px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 50px solid #feff42;
}

.steps2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    width: auto;
    position: absolute;
    bottom: 90px;
    left: -160px;
    z-index: -1;
}

.step_video {


}

.step_video a {
    border: 8px solid #feff42;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    overflow: hidden;
    margin-bottom: 60px;
}

.link_border {
    border: 8px solid #feff42;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    overflow: hidden;
    margin-bottom: 45px;
}

.reviews_item p.title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.reviews_item p.text {
    font-size: 24px;
    text-align: center;
}

.reviews_item {
    margin-bottom: 60px;
}

.block2 {
    position: relative;
    overflow: hidden;
}

.block2_img {
    position: absolute;
    top: 0;
    left: -60px;
    z-index: -1;
    width: auto;
}

.block2_list {
    position: relative;
}

.block2_list ol {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px;
}

.block2_list ol li {
    width: 80%;
    margin-bottom: 30px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

ol li::before {
    font-weight: bold;
    font-size: 55px;
    z-index: 2;
    margin-right: 30px;
    flex:0 0 70px;
    text-align: left;
}

.block2_list ol li::after {
    content: '';
    width: 74px;
    height: 74px;
    position: absolute;
    background-color: #feff42;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-48%,-50%);
    -ms-transform: translate(-48%,-50%);
    transform: translate(-48%,-50%);
    z-index: 1;
    top: 50%;
    left: 0;
}

.block2_list ol li {
    font-size: 24px;
}

.block2_img2 {
    width: auto;
    position: absolute;
    top: 50%;
    left: 90%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
}

.about {
    position: relative;
    overflow: hidden
}

.about_head {
    margin-bottom: 50px;
}

.about_text {
    text-align: center;
}

.about_text .title {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

.about_text .text {
    font-size: 24px;
}

.about_img {
    margin-bottom: 50px;
}

.about_text .text {
    font-size: 24px;
}

.about_text .text b {
    font-size: inherit;
}

.form_wrap {
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 26.39px 2.61px rgba(34, 34, 34, 0.2);
    box-shadow: 0px 0px 26.39px 2.61px rgba(34, 34, 34, 0.2);
    overflow: hidden;
    position: relative;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 45px;
}

.form_wrap_img img {
    width: auto;
}

.form_wrap_img {
    margin-left: 40px;
    margin-top: 55px;
}

.form_wrap_form legend {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.form_input {
    width: 100%;
    padding: 25px 10px 25px 25px;
    border: 2px solid #feff42;
    margin-bottom: 30px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.form_input.last {
    margin-bottom: 0;
}

.form_wrap_form {
    max-width: 570px;
    width: 100%;
}

.form_wrap_form .small_text {
    width: 100%;
    padding-top: 10px;
    padding-left: 25px;
    margin-bottom: 40px;
}

.form_btn {
    width: 100%;
    height: 86px;
    line-height: 86px;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    -webkit-border-radius: 43px;
    border-radius: 43px;
    background-color: rgb(255, 154, 244);
    -webkit-box-shadow: 0px 6px 9.1px 0.9px rgba(74, 174, 159, 0.42);
    box-shadow: 0px 6px 9.1px 0.9px rgba(74, 174, 159, 0.42);
}

.footer_link {
    font-size: 16px;
    text-decoration: underline;
    color: rgb(101, 101, 101);
}

footer {
    margin-bottom: 60px;
}

.mobile_show {
    display: none;
}

#video_show {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.video_show_wrapper {
    max-width: 650px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.video_show_clode {
    background:transparent;
    border:none;
    outline: none;
    font-size: 26px;
    color:#fff;
    position: absolute;
    right: 0;
    cursor: pointer;
    top: -30px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.title_with_text {
    display: none;
}

.header_logo.land3 {
    width: 32%;
    text-align: center;
}

.header_logo.land3 p {
    font-size: 24px;
    font-weight: bold;
    background: url(../img/title-blank.png) no-repeat center center;
    background-size:contain;
    padding:20px;
}

.main_block-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main_video_land3 {
    width: 48%;
}

.main.land2 {
    padding-bottom: 40px;
    overflow: hidden;
}

.main_block_form {
    width: 48%;
}

.land3_wrap {

}

.land3_wrap .form_input {
    padding-top: 10px;
    padding-bottom: 10px;
}

.land3_wrap .form_btn {
    height: auto;
    line-height: 1.2;
    padding:10px 15px;
}


.main.land2 .video_act .play_button {
    width: 80px;
    height: 80px;
    background-position: center center;
    background-size:50%
}

.have.land3 {
    padding-top: 80px;
    background-color:#fff;
}

.land3_wrap legend {
    text-align: left;
}

.justify-content-center {
    justify-content: center !important;
}

.main.websale {
    padding-top: 20px;
    padding-bottom: 40px;
}

.main.websale .main_head_h1,
.main.websale .main_head_time {
    position: static;
}

.main.websale .time_section {
    justify-content: center;
}

.tarif.websale {
    padding:40px 0;
    background-color:#fff;
}

.tarif.websale .tarifs {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.tarif.websale .tarifs .tarifs_item {
    width: 35%;
    margin: 10px;
    margin-bottom: 30px;
    border:1px solid transparent;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarif.websale .tarifs .tarifs_item:hover {
    border-color: #feff42;
    -webkit-box-shadow: 0px 0px 9.1px 0.9px rgba(136, 88, 5, 0.42);
    box-shadow: 0px 0px 9.1px 0.9px rgba(136, 88, 5, 0.42);
}

.tarif.websale .tarifs .tarifs_item .tarifs_item_head {
    width: 100%;
    text-align: center;
}

.tarif.websale .tarifs .tarifs_item .tarif_name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.tarif.websale .tarifs .tarifs_item .tarif_price {
    font-size: 18px;
    margin-bottom: 20px;
}

.tarif.websale .tarifs .tarifs_item .btn {
    height: auto;
    line-height: 1;
    padding: 10px 25px;
    font-size: 20px;
}

.form-line.last .form_input {
    margin-bottom: 0;
}

/* moi izmineniya */

.my_header_logo{
    margin: 0 auto;
}

.my_header_menu{
    display: none;
}

.my_bold_text{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.my_form_btn{
    margin-bottom: 30px;
}

#doit.my_doit{
    padding-top: 55px;  
}

.block2_list ol.my_ol{
    margin-bottom: 0;
}


.block2_list ol.my_ol{
    margin-bottom: 0;
}

.my_main_head_time{
    font-weight: 100;
}

.my_main_head_h1{
    font-weight: bold;
}

.my_main_head_h1.my_main_head_h11{
    margin-bottom: 7px;
}

.time_img.my_time_img{
    width: 140px;
    top: -20px;
    left: 110px;
}

.my_time.time_section_item{
    padding-bottom: 0 !important;
}
.my_time.time_section_item:after{
    display: none;
}

.main_item .text_min.my_text_min{
    margin-bottom: 15px;
}

.section_bottom.second_btn{
    margin-bottom: 0;
}



